// Custom.scss
// Option A: Include all of Bootstrap

// Your variable overrides
/*$body-bg: #000;
$body-color: rgb(255, 81, 0);*/

.h-scroll {
    height: 90vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index.scss";